/01_create_customers.sql
/02_insert_customers.sql
/03_create_car_model.sql
/04_insert_car_model.sql
/05_create_car_brand.sql
/06_insert_car_brand.sql
/07_create_positions.sql
/08_insert_positions.sql
/09_create_employees.sql
/10_insert_employees.sql